body {
    margin: 0 auto;
    text-align: left;
    background-image: url(334.jpeg) ;
    background-repeat: no-repeat;
    color: white;
    padding: 0 50px;
}
h1 h2 {
    text-align: center;
}